.main {
  padding: 6%;
}

.backButton {
  background: transparent;
  border: none;
  color: #e7853a;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-weight: 600;
}

.backIcon {
  font-size: 20px;
  margin-right: 8px;
  display: flex;
}
.mainText {
  margin: 10px 2%;
}
.title {
  font-size: 24px;
  margin-bottom: 20px;
  padding-top: 12px;
}

.legalContainer {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adds spacing between sections */
}

.sectionTitle {
  margin-top: 13px;
  font-size: 20px;
  color: #979595;
}

@media (max-width: 767px) {
}
